<div class="jumbotron text-center">
    <h1>Blog Admin</h1>
    <a href='/posts' class="btn btn-lg btn-danger">See Posts</a>
    <a href='/posts/create' class="btn btn-lg btn-danger">Create Post</a>
</div>